@model IEnumerable<KirtasiyejimWebApp.Models.Product>
@using KirtasiyejimWebApp.Models
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@foreach (Product item in Model)
{
    <div class="product">
        <a href="@Url.Action("Detail", "Product", new {id= item.ID})" class="link">
            <div class="productImage">
                @if (item.ProductImages.Count != 0)
                {
                    int count = item.ProductImages.Count(x => x.isListImage == true);
                    if (count != 0)
                    {
                        <img src="~/Assets/ProductImages/@item.ProductImages.First(x=> x.isListImage == true).ImageUrl"  />
                    }
                    else
                    {
                        <img src="~/Assets/ProductImages/none.png" width="40" />
                    }
                }
                else
                {
                    <img src="~/Assets/ProductImages/none.png" width="40" />
                }
            </div>
        </a>
        <a href="@Url.Action("Detail", "Product", new {id= item.ID})" class="link">
            <div class="productInfo">
                <h3 class="name"> @item.Name</h3>
                <div class="category"> <small> Kategori: @item.category.Name</small><br /></div>
                <h3 class="price">@item.Price <small style="font-weight:200"> ₺ KDV Dahil</small></h3> 
                <div style="clear:both"></div>
            </div>
        </a>
        <div class="cart">
            <a href="">Sepete Ekle</a>
        </div>
    </div>
}
<div style="clear:both"></div>


